<div class="ui center aligned container">
<h1 class="ui yellow header">Welcome to Brainstrom</h1>
	<div class="ui button" ng-class="selected == 1 && 'active' || ''" ng-click="selected = 1">Join a game</div> 
	<div class="ui button" ng-class="selected == 2 && 'active' || ''" ng-click="selected = 2">Start a new game</div>
	</br>
	</br>
	<div ng-if="selected==1">
		<form novalidate ng-submit="joinGame(player)" class="ui segment form">
			<div class="field">
				<label>Player name:</label>
				<div class="loading">
					<input ng-model = "player.name" placeholder="Player name..." type="text">
				</div>
			</div>
			<div class="field">
				<label>Room code:</label>
				<input ng-model = "player.code" placeholder="Room code..." type="text">
			</div>
			 <button class="ui button" type="submit">Join</button>
		</form>
	</div>
	<div ng-if="selected==2">
		<div ng-if="errors.length > 0" class="ui error message">
				<div class="header">
					There was some errors with your submission
				</div>
				<ul class="list">
					<li>You must include both a upper and lower case letters in your password.</li>
					<li>You need to select your home country.</li>
				</ul>
			</div>
		<form novalidate ng-submit="createGame(room)" class="ui segment form">
			<div class="field">
				<label>Room name (optional):</label>
				<input ng-model = "room.name" placeholder="Room name..." type="text">
			</div>
			<div class="field">
				<label>No. of players:</label>
				<input ng-model = "room.player_count" placeholder="Player count" type="number" min="1">
			</div>
			<div class="field">
				<label>Rounds:</label>
				<input ng-model = "room.rounds" placeholder="Rounds" type="number" min="1">
			</div>
			<div class="field">
				<label>Questions (optional):</label>
				<div ng-repeat="i in genArray(room.rounds) track by $index"> 
					<input ng-model = "room.questions[$index]" placeholder="Question {{$index+1}} (leave blank for free round)" type="text">
				</div>
			</div>
			<div class="field">
				<label>Input-timer (seconds):</label>
				<input ng-model = "room.input_timer" placeholder="Input-timer" type="number" min="10" step="5">
			</div>
			<div class="field">
				<label>Battle-timer (seconds):</label>
				<input ng-model = "room.battle_timer" placeholder="Battle-timer" type="number" min="5" step="5">
			</div>
			 <button class="ui button" type="submit">Start</button>
		</form>
	</div>
</div>