<div class="ui center aligned container">
	<div ng-if = "mode == 1">
		<h1 class="bigtext">Game: {{gameID}} Waiting for players...</h1>
		<h1 class="ui yellow header">{{current_players}} / {{game.player_count}}</h1>
		<div class="ui button" ng-if="current_players == game.player_count" ng-click="startGame()">Start</div>
	</div>
	<div ng-if = "mode == 2">
		<h1 class="bigtext">{{question}}</h1>
		<h1 class="ui yellow header" id="timer">{{game.input_timer}} second(s)</h1>
		<div class="ui button" ng-click="setDec(-1)">Next</div> 
	</div>
	<div ng-if = "mode == 3">
		<h1 class="bigtext">{{question}}</h1>
		<div ng-repeat="fighter in ideas track by $index">
			<div class="ui form segment">
				<div class="inline field">
					<label>Name:</label>
					{{fighter.name}}
				</div>
				<div ng-if="fighter.description" class="inline field">
					<label>Description:</label>
					{{fighter.description}}
				</div>
			</div>
		</br>
		</div>
		<h1 class="ui yellow header" id="battle_timer">{{game.battle_timer}} second(s)</h1>
		<div class="ui button" ng-click="setDec(-1)">Next</div> 
	</div>
	<div ng-if="mode==4">
		<h1 class="bigtext">{{question}}</h1>
		<div class="ui form segment">
			<div class="inline field">
				<label>Name:</label>
				{{currentWinner.name}}
			</div>
			<div class="inline field">
				<label>Description:</label>
				{{currentWinner.description}}
			</div>
			<div class="inline field">
				<label>Votes:</label>
				{{currentWinner.votes}}
			</div>
			<div class="inline field">
				<label>Player:</label>
				{{currentPlayerWinner.name}}
			</div>
			<div class="inline field">
				<label>Player total points:</label>
				{{currentPlayerWinner.points}}
			</div>
		</div>
	</div>
	<div ng-if = "mode == 5">
		<h1 class="bigtext">{{question}}</h1>
		<div ng-repeat="winner in winners track by $index">
			<div class="ui form segment">
				<div class="inline field">
					<label>Name:</label>
					{{winner.name}}
				</div>
				<div ng-if="winner.description" class="inline field">
					<label>Description:</label>
					{{winner.description}}
				</div>
			</div>
		</div>
		<h1 class="ui yellow header" id="uber_timer">{{game.input_timer}} second(s)</h1>
		<div class="ui button" ng-class="decrement == 1 && 'active' || ''" ng-click="setDec(1)">Start</div> 
		<div class="ui button" ng-click="setDec(-1)">Next</div> 
	</div>
	<div ng-if = "mode == 6">
		<h1 class="bigtext">{{question}}</h1>
		<div ng-repeat="uber in uberIdeas track by $index">
			<div class="ui form segment">
				<div class="inline field">
					<label>Strength:</label>
					{{uber.strength}}
				</div>
				<div class="field">
					<label>&Uuml;ber Idea:</label>
					{{uber.description}}
				</div>
			</div>
			</br>
		</div>
		<h1 class="ui yellow header" id="uber_battle_timer">{{game.battle_timer}} second(s)</h1>
		<div class="ui button" ng-click="setDec(-1)">Next</div> 
	</div>

	<div ng-if = "mode == 7">
		<h1 class="bigtext">{{question}}</h1>
		<h1 ng-if="currentWinner != undefined" class="bigtext">Round Winner</h1>
		<div ng-if="currentWinner != undefined" class="ui form segment">
			<div class="inline field">
				<label>Description:</label>
				{{currentWinner.description}}
			</div>
			<div class="inline field">
				<label>Strength:</label>
				{{currentWinner.strength}}
			</div>
			<div class="inline field">
				<label>Votes:</label>
				{{currentWinner.votes}}
			</div>
			<div class="inline field">
				<label>Player:</label>
				{{currentPlayerWinner.name}}
			</div>
		</div>
		<h1 class="bigtext">Scoreboard</h1>
		<div ng-repeat="player in players track by $index">
			<div class="ui form segment">
				<div class="inline field">
					<label>Name:</label>
					{{player.name}}
				</div>
				<div class="inline field">
					<label>Points:</label>
					{{player.points}}
				</div>
			</div>
		</div>
	</div>
	<div ng-if = "mode == 8">
		<h1 class="bigtext">{{question}}</h1>
	</div>


</div>