<div class="ui center aligned container">
<h1 class="ui header">{{question}}</h1>
	<!-- Entering Idea!-->
	<div ng-if="mode==0">
		<h2 class="ui header"> Please wait for game to be ready</h2>
		 <div class="ui button" ng-click="loadGame()">Start</div>
	</div>

	<div ng-if="mode==1">
		<form novalidate ng-submit="submitIdea()" class="ui segment form">
			<div class="field">
				<label>Name:</label>
				<input ng-model = "idea.name" placeholder="Idea name..." type="text">
				
			</div>
			<div class="field">
				<label>Description:</label>
				<textarea ng-model = "idea.description" rows="3"></textarea>
			</div>
			 <button class="ui button" type="submit">Submit</button>
		</form>
	</div>

	<div ng-if="mode==6">
		<h2 class="ui header"> Please wait for game to be ready</h2>
		<div class="ui button" ng-click="requestIdeas()">Next</div>
	</div>

	<!-- Fighting!-->
	<div ng-if="mode==2">
		<div ng-repeat="fighter in fights[currentFight] track by $index">
			<div ng-click="voteFor(fighter.id)" class="ui form segment">
				<div class="inline field">
					<label>Name:</label>
					{{fighter.name}}
				</div>
				<div class="inline field">
					<label>Description:</label>
					{{fighter.description}}
				</div>
			</div>
			<span ng-if="$index != fights[currentFight].length-1">VS</br></br></span>
		</div>
		</br>
	</div>

	<!-- Winner!-->
	<div ng-if="mode==3">
		<h2 class="ui header"> Please wait for game to be ready</h2>
		<div class="ui button" ng-click="testNext()">Next</div>
	</div>

	<!-- Enter big idea!-->
	<div ng-if="mode==4">
		<form novalidate ng-submit="submitUberIdea()" class="ui segment form">
			<div class="inline field">
				<label>Champion ideas:</label>
				<span class="ui mini button" ng-repeat = "champion in winners" ng-click="appendChampion(champion.name)">{{champion.name}} </span>
			</div>
			<div class="field">
				<label>&Uuml;ber Idea:</label>
				<textarea id="uberIdeaBox" ng-model = "uberIdea" rows="3"></textarea>
			</div>
			<div class="inline field">
				<label>Ideas used:</label>
				{{ideasUsed()}}
			</div>
			<button class="ui button" type="submit">Submit</button>
		</form>
	</div>

	<div ng-if="mode==7">
		<h2 class="ui header"> Please wait for game to be ready</h2>
		<div class="ui button" ng-click="requestUberIdeas()">Next</div>
	</div>

	<div ng-if="mode==5">
		<div ng-repeat="uber in uberIdeas track by $index">
			<div ng-click="uberVoteFor(uber.id)" class="ui form segment">
				<div class="inline field">
					<label>Strength:</label>
					{{uber.strength}}
				</div>
				<div class="field">
					<label>&Uuml;ber Idea:</label>
					{{uber.description}}
				</div>
			</div>
			<span ng-if="$index%2==0">VS</br></br></span>
		</div>
	</div>

	<div ng-if="mode==8">
		<h2 class="ui header"> Game over :)</h2>
	</div>


</div>
